spring:
  config:
    activate:
      on-profile: test
  flyway:
    enabled: false
    locations: classpath:db/migration
  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
